:root {
    --heading-font-color: #00241B;
    --heading-font: "Ubuntu",
        sans-serif;
    --logo-font: "Kalnia Glaze", serif;
    --paragraph-font: "Rubik", sans-serif;
    --paragraph-font-color: ;
    --paragraph--bgcolor: ;
    --heading-bgcolor: ;
    --webpage-bgcolor: #FFCCD5;
    --links-bgcolor: #93E5AB;
    --cta-bgcolor: #FF5733;
}

header,
main,
footer {
    max-width: 60rem;
    background-color: aqua;
    margin: 1rem auto;
    padding: 1rem;
}

header,
h2 {
    font-family: var(--heading-font);
    text-align: center;
    color: var(--heading-font-color);
    /* margin: 2rem 0; */
}

h2 {
    font-weight: 400;
    text-decoration-line: underline;
}



p,
ul {
    font-family: var(--paragraph-font);
}

nav {
    display: flex;
    background-color: var(--links-bgcolor);
    border: 1px solid black;
}

.logo {
    font-family: var(--logo-font);
    font-size: 2.5rem;
    width: 100px;
    text-align: center;
    padding-top: 3rem;
    padding-left: .5rem;
    background-color: var(--links-bgcolor);
}


nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    padding: 1rem;
    margin: 2rem;
    color: var(--heading-font-color);
}

nav a {
    color: rgb(113, 62, 102);
    background-color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
}



main {
    background-color: var(--webpage-bgcolor);
}

img {
    display: block;
    margin: .5rem auto;
    border: 2px solid black;
    margin-bottom: 1rem;
    padding: .25rem;
}

footer {
    font-family: var(--paragraph-font);
    text-align: center;
}