:root {
    --heading-font: "Ubuntu",
        sans-serif;

    --paragraph-font: "Montserrat",
        sans-serif;
}


header,
main,
footer {
    font-family: var(--heading-font);
    font-size: 1.2rem;
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;

}

#rad-one,
#rad-two,
#rad-three,
#rad-four,
#rad-five {
    align-self: center;
    border: 2px solid red;
}

#dateInstall,
#name {
    font-size: 1.5rem;
}

.option-style {
    font-weight: 600;
    font-family: var(--paragraph-font);
}

.container label {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prod-form select[name='products'] {

    font-weight: 500;
}


header {
    font-family: var(--heading-font);
    text-align: center;
    background-color: rgba(128, 0, 128, 0.2);
    padding: 1rem .5rem;
}

main {
    font-family: var(--paragraph-font);
    font-weight: 500;
}

.prod-form {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    background-color: #eee;
    border-radius: 6px;
    margin-left: -1rem;
}

.prod-form label {
    display: block;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}


.container {
    display: flex;
    justify-content: space-around;
}

.prod-form input[type='text'],
.prod-form select,
.prod-form input[type='date'],
.prod-form textarea,
.prod-form input[type='radio'] {
    display: block;
    width: 100%;
    max-width: 400px;
}

.prod-form input[type='checkbox'] {
    margin-right: 6px;
}

.prod-form input[type='text'],
.prod-form input[type='date'],
.prod-form select {
    height: 50px;
    border-radius: 6px;
}


input[type='submit'] {
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
    padding: .5rem .75rem;
    border: 2px solid red;
    border-radius: 6px;
    background-color: yellowgreen;
    cursor: pointer;
    font-size: 1.25rem;
}

input[type='submit']:hover {
    background-color: yellowgreen;
    color: rgba(128, 0, 128, 0.8);
    font-weight: 700;
    font-size: 2rem;

}

.comment {
    font-size: 1.2rem;
    font-weight: 500;
}

.numberOfTimes {
    font-size: 1.5rem;
}



footer {

    background-color: #ddd;
    padding: .5rem 1%;
    text-align: center;
    margin-top: .5rem;
}