:root {
    --contrast-color: rgb(235, 131, 50);

    --paragraph-font: "Lato",
        sans-serif;
    --heading-font: "Roboto",
        sans-serif;
    --link-font: "Ubuntu",
        sans-serif;

    --nav-background-color: rgba(243, 157, 157, 0.2);
    --nav-hover-background-color: rgb(113, 62, 102);
    --nav-hover-link-color: #fdcbd8;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 960px;
    border: 2px solid rgb(131, 3, 3);
    margin: 1rem auto;
    position: relative;
}

header,
nav,
main,
footer {
    max-width: 800px;
    margin: 1rem auto;

}

h1,
h2,
figcaption {
    font-family: var(--heading-font);
    text-align: center;
    grid-column: 1 / 2;
}

header nav ul {
    list-style: none;
    margin: 0 auto;
}


header nav ul li {
    display: block;
    padding: 0.5rem;
    width: 100%;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: var();
    background-color: var(--nav-background-color);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--contrast-color);
}

header nav ul li a:hover,
header nav ul li a:active {
    text-decoration: overline;
    color: white;
    /* background-color: rgb(0, 0, 0); */
    background-color: var(--nav-hover-background-color);

}

.home {
    background-color: rgba(56, 100, 0, 0.1);
    font-size: 1.2rem;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
}

main .second img {
    width: 100%;
    height: auto;
}

#menu {
    font-size: 1.5rem;
    background: none;
    color: #000;
    position: absolute;
    right: 7%;
    top: 20px;
}

.hide {
    display: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.open a {
    display: block;
}

figcaption {
    font-family: var(--paragraph-font);
    font-weight: 600;
    padding: 0.25rem 0.25rem 1rem 0.25rem;
    margin-bottom: 1rem;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: rgba(243, 157, 157, 0.2);
    padding: 1rem;
    font-weight: 500;
}